{% extends 'main.html' %}

{% block content %}
<div class="container">
    <p>
        This project is a tool called Hiram that aims to assist cyber security architects and advisors in designing secure systems. It leverages machine learning and fuzzy matching techniques to find the best-matching pre-approved architecture based on a suggested design.
    </p>
    <p>
        During the integration and design process, a cyber security architect/consultant often asks developers or IT administrators to draw the proposed architecture. However, reviewing and suggesting improvements based on security best practices can be time-consuming and costly. Hiram solves this problem by using machine learning to match the suggested design with pre-approved architectures, providing instant feedback to developers and saving time for the cyber security personnel.
    </p>
    <a href="https://github.com/jonisakov/Hiram" class="cta-button">Our Github</a>
</div>
{% endblock content %}